# Junk files
*.bak
*.swp
*~
.DS_Store
._*

# Firmware files
*.hex
*.bin
*.uf2

# Clion/IntelliJ specific stuff
.idea/**/workspace.xml
.idea/**/usage.statistics.xml
.idea/**/shelf

# Other
compile_commands.json

